body {
    box-sizing: border-box;
}

/* navbar */
.navbar-brand {
    height: 100px;
}

.navbar-brand h1 {
    font-size: 3em;
    margin-top: 5px;
    clear: left;
}

#nav-list li a {
    text-align: center;
}

#nav-list hr {
    margin: 1px;
}

/* main */
#container-title {
    font-size: 2.6em;
    margin: 15px auto 20px auto;
}

.container-tiles {
    background-color: #b3b3b3;
    margin: 10px;
}

.container-tiles h3 {
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 10px;
}

.container-tiles p {
    font-size: 1.4em;
    padding: 5px;
}